* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-family: Verdana;
  font-size: 35px;
}

h2 {
  font-family: Verdana;
  font-size: 18px;
  font-weight: bold;
}

p,
a {
  font-family: Verdana;
  font-size: 14px;
}

.line {
  border: 1px solid rgba(134, 134, 134, 0.2);
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  align-self: center;
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;

  max-width: 1200px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.display {
  display: none;
}

/*Fil d'ariane */
.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 2rem;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.breadcrumb li {
  color: #f1f1f1;
  text-shadow: 1px 1px 2px gray;
}

.breadcrumb a,
.breadcrumb span {
  padding: 0.5em 1em;
  color: #f1f1f1;
  text-shadow: 1px 1px 2px gray;
}

.breadcrumb li::before {
  content: ">";
}

.breadcrumb li:first-child::before {
  content: "";
}

.reassurance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #525252;
  margin: 0 10rem 0 10rem;
  height: auto;
  gap: 1rem;
  padding: 2rem 0 2rem 0;
}

.reassurance .rea1,
.rea2,
.rea3 {
  font-size: 12px;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}

.reassurance p {
  width: 400px;
  padding-left: 2rem;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ff1d67;
}

.separation-line-h {
  border: 1px solid rgba(134, 134, 134, 0.3);
  border-width: 0 0 1px 0;
  width: 100px;
  margin: 0 0;
  padding: 0 0;
  align-self: center;
}

/*small device */
@media only screen and (max-width: 400px) {
  .dot {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 767px) {
  .line {
    width: 80%;
  }

  .reassurance p {
    width: 300px;
    
  }
}

/* Tablette */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .line {
    width: 90%;
  }
}

/* Footer separation removed when collide with other elements*/
@media only screen and (min-width: 1026px) and (max-width: 1215px) {
  .separation-line-h {
    display: none;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .display {
    display: flex;
  }

  .reassurance {
    flex-direction: row;
  }

  .reassurance p {
    width: 230px;
    margin: 3rem 0 3rem 0;
  }

  .separation-line-h {
    border-width: 0 0 0 1px;
    height: 4rem;
    width: 1px;
  }
}
